#Ignore all big data file

########################
# COSMIC
########################
CosmicCompleteExport.tsv
Cosmic_Lite.txt

########################
# Ensembl
########################
homo_sapiens_vep_84_GRCh37.tar.gz

########################
# Other
########################
.directory
__pycache__
Run_test